docx==0.2.4
fitz==0.0.1.dev2
fuzzywuzzy==0.18.0
ijson==3.3.0
json5==0.12.0
krippendorff==0.8.1
langchain==0.3.25
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.5
openai==1.77.0
pandas==2.2.3
pdf2image==1.17.0
Pillow==11.2.1
qwen_vl_utils==0.0.11
scikit_learn==1.6.1
torch==2.5.1
tqdm==4.67.1
transformers==4.50.0.dev0
vllm==0.7.4.dev215+g3e1d2236
